<a href="https://colab.research.google.com/github/Sheila-Otieno/Python-mini-projects/blob/main/Receipt_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a product and price for three items
p1_name, p1_price ="Books",49.95
p2_name, p2_price ="Computer",579.99
p3_name, p3_price ="Monitor",124.89

In [ ]:
#create a company name
company_name ="coding temple, inc"
company_address = "283 Franklin St."
company_city = "Boston, MA"

In [ ]:
#declare ending message
message ="Thanks for shopping with us today!"

In [ ]:
#create top border
print("*" * 50)

**************************************************

In [ ]:
#print company informattion
print( "\t\t{}".format(company_name.title()))
print( "\t\t{}".format(company_address))
print( "\t\t{}".format(company_city))

		Coding Temple, Inc
		283 Franklin St.
		Boston, MA

In [ ]:
#print out the header
print("\tProduct Name\tProduct Price")

	Product Name	Product Price

In [ ]:
# create a print statement for each product
print( "\t{}\t\t${}".format(p1_name.title( ), p1_price) )
print( "\t{}\t\t${}".format(p2_name.title( ), p2_price) )
print( "\t{}\t\t${}".format(p3_name.title( ), p3_price) )

	Books		$49.95
	Computer		$579.99
	Monitor		$124.89

In [ ]:
# print a line between sections
print('=' * 50)

==================================================

In [ ]:
# print out header for section of total
print("\t\t\tTotal")

			Total

In [ ]:
# calculate total price and print out
total = p1_price + p2_price + p3_price
print( "\t\t\t${}".format(total) )

			$754.83

In [ ]:
# print a line between sections
print( "=" * 50)

==================================================

In [ ]:
# output thank you message
print( "\n\t{}\n".format(message) )

	Thanks for shopping with us today!

In [ ]:
# create a bottom border
print( "*" * 50 )

**************************************************

In [ ]:
left_border = "*" * 50
for f in left_border:
  print( f)

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
right_border = "*" * 50
for f in right_border:
  print( '{:>8} '.format(f))

       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *
       *

In [ ]:
#create top border
print("*" * 50)

#print company informattion
print( "\t\t{}".format(company_name.title()))
print( "\t\t{}".format(company_address))
print( "\t\t{}".format(company_city))

#print out the header
print("\tProduct Name\tProduct Price")

# create a print statement for each product
print( "\t{}\t\t${}".format(p1_name.title( ), p1_price) )
print( "\t{}\t\t${}".format(p2_name.title( ), p2_price) )
print( "\t{}\t\t${}".format(p3_name.title( ), p3_price) )

# print a line between sections
print('=' * 50)

# print out header for section of total
print("\t\t\tTotal")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print( "\t\t\t${}".format(total) )

# print a line between sections
print( "=" * 50)

# output thank you message
print( "\n\t{}\n".format(message) )

# create a bottom border
print( "*" * 50 )

**************************************************
		Coding Temple, Inc
		283 Franklin St.
		Boston, MA
	Product Name	Product Price
	Books		$49.95
	Computer		$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for shopping with us today!

**************************************************